# dependencies
node_modules
secure-exam-browser/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# electron
secure-exam-browser/dist
secure-exam-browser/out
secure-exam-browser/.env

# downloads
public/downloads/*.exe
public/downloads/*.dmg
public/downloads/*.AppImage

*.md
.next
.swc
.vscode
.kiro
secure-exam-browser/build-output